In [1]:
import pandas as pd
from datetime import datetime
import requests

df = pd.read_csv('group1_new.csv')
df

,Unnamed: 0,userid,sessionid,timestamp,action,value,category,age,gender,city
0,0,user_10000,1,2021-12-28T02:33:15,mainpage,0.000000,None,48,М,Омск
1,1,user_10000,1,2021-12-28T02:33:29,search,0.000000,Продовольственные товары,48,М,Омск
2,2,user_10000,1,2021-12-28T02:33:47,product,0.000000,Продовольственные товары,48,М,Омск
3,3,user_10000,1,2021-12-28T02:33:59,mainpage,0.000000,None,48,М,Омск
4,4,user_10000,1,2021-12-28T02:34:10,category,0.000000,Товары для детей,48,М,Омск
...,...,...,...,...,...,...,...,...,...,...
14553412,14553412,user_14999,529,2025-01-02T04:00:01,cart,23613.725533,Продовольственные товары,34,Ж,Челябинск
14553413,14553413,user_14999,529,2025-01-02T04:00:45,checkout,992.000000,None,34,Ж,Челябинск
14553414,14553414,user_14999,529,2025-01-02T04:01:08,confirmation,992.000000,None,34,Ж,Челябинск
14553415,14553415,user_14999,530,2025-01-03T04:01:15,search,0.000000,Продовольственные товары,34,Ж,Челябинск
14553416,14553416,user_14999,530,2025-01-03T04:01:23,product,0.000000,Продовольственные товары,34,Ж,Челябинск

In [2]:
df.drop(columns='Unnamed: 0', inplace=True)

df['userid'] = df['userid'].apply(lambda x: int(x[6:]))
df

,userid,sessionid,timestamp,action,value,category,age,gender,city
0,0,1,2021-12-28T02:33:15,mainpage,0.000000,None,48,М,Омск
1,0,1,2021-12-28T02:33:29,search,0.000000,Продовольственные товары,48,М,Омск
2,0,1,2021-12-28T02:33:47,product,0.000000,Продовольственные товары,48,М,Омск
3,0,1,2021-12-28T02:33:59,mainpage,0.000000,None,48,М,Омск
4,0,1,2021-12-28T02:34:10,category,0.000000,Товары для детей,48,М,Омск
...,...,...,...,...,...,...,...,...,...
14553412,4999,529,2025-01-02T04:00:01,cart,23613.725533,Продовольственные товары,34,Ж,Челябинск
14553413,4999,529,2025-01-02T04:00:45,checkout,992.000000,None,34,Ж,Челябинск
14553414,4999,529,2025-01-02T04:01:08,confirmation,992.000000,None,34,Ж,Челябинск
14553415,4999,530,2025-01-03T04:01:15,search,0.000000,Продовольственные товары,34,Ж,Челябинск
14553416,4999,530,2025-01-03T04:01:23,product,0.000000,Продовольственные товары,34,Ж,Челябинск

In [3]:
def get_point(city):
    apikey = 'db86ee1a-4a33-44aa-aa32-6f397a8ccb7a'
    url = 'https://geocode-maps.yandex.ru/1.x/?apikey=' + apikey + '&geocode=' + city
    html = requests.get(url).text
    l = html.find('<pos>')
    r = html.find('</pos>')
    x, y = html[l + 5:r].split(' ')
    return '[' + y + ',' + x + ']'


points = pd.DataFrame(df['city'].unique(), columns=['city'])
points['point'] = points['city'].apply(get_point)
points

               city                  point
0              Омск  [54.989347,73.368221]
1            Москва  [55.755864,37.617698]
2    Ростов-на-Дону  [47.222078,39.720358]
3       Новосибирск   [55.030204,82.92043]
4        Красноярск  [56.010569,92.852572]
5      Екатеринбург  [56.838011,60.597474]
6         Челябинск  [55.159902,61.402554]
7           Воронеж  [51.660781,39.200296]
8            Казань  [55.796127,49.106414]
9   Санкт-Петербург  [59.938955,30.315644]
10           Самара  [53.195878,50.100202]
11        Волгоград  [48.707067,44.516975]
12  Нижний Новгород  [56.326797,44.006516]
13              Уфа  [54.735152,55.958736]

In [4]:
df = df.merge(points, how='left', on='city')
df

,userid,sessionid,timestamp,action,value,category,age,gender,city,point
0,0,1,2021-12-28T02:33:15,mainpage,0.000000,None,48,М,Омск,"[54.989347,73.368221]"
1,0,1,2021-12-28T02:33:29,search,0.000000,Продовольственные товары,48,М,Омск,"[54.989347,73.368221]"
2,0,1,2021-12-28T02:33:47,product,0.000000,Продовольственные товары,48,М,Омск,"[54.989347,73.368221]"
3,0,1,2021-12-28T02:33:59,mainpage,0.000000,None,48,М,Омск,"[54.989347,73.368221]"
4,0,1,2021-12-28T02:34:10,category,0.000000,Товары для детей,48,М,Омск,"[54.989347,73.368221]"
...,...,...,...,...,...,...,...,...,...,...
14553412,4999,529,2025-01-02T04:00:01,cart,23613.725533,Продовольственные товары,34,Ж,Челябинск,"[55.159902,61.402554]"
14553413,4999,529,2025-01-02T04:00:45,checkout,992.000000,None,34,Ж,Челябинск,"[55.159902,61.402554]"
14553414,4999,529,2025-01-02T04:01:08,confirmation,992.000000,None,34,Ж,Челябинск,"[55.159902,61.402554]"
14553415,4999,530,2025-01-03T04:01:15,search,0.000000,Продовольственные товары,34,Ж,Челябинск,"[55.159902,61.402554]"
14553416,4999,530,2025-01-03T04:01:23,product,0.000000,Продовольственные товары,34,Ж,Челябинск,"[55.159902,61.402554]"

In [ ]:
df.to_csv('log-info.csv', index=False)